body {
  padding-top: 24px;
  padding-right: 70px;
  padding-left: 70px;
  max-width: 1300px;
  height: auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  cursor: pointer;
}

.Lumintu {
  margin-left: 20px;
}

.flex-end {
  display: flex;
}

.contact {
  background-color: #f1a021;
  border: solid 5px #f1a021;
  border-radius: 25px;
  border: solid 5px;
}

.article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.agancy {
  font-size: 14px;
  font-style: italic;
}

.p1 {
  font-size: 44px;
}
.p2 {
  font-size: 44px;
  color: #f1a021;
}
.p3 {
  font-size: 44px;
}

.p4 {
  font-size: 14px;
  font-style: italic;
  color: #747578;
}
.p5 {
  font-size: 14px;
  font-style: italic;
  color: #747578;
}

button {
  background-color: #f1a021;
  border-radius: 25px;
  border: solid 5px #f1a021;
  cursor: pointer;
}

.play-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.our-partners {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.company {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.p6 {
  font-size: 46px;
  display: flex;
}
.p7 {
  font-size: 46px;
  color: #f1a021;
}

.second-page {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 100px;
}

.header2 {
  font-size: 42px;
  line-height: 72px;
}

.digital-agancy {
  color: #f1a021;
}

.second-page img {
  margin-bottom: 25px;
}

.second-page h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.second-page p {
  font-size: 16px;
}
.second-page span {
  font-size: 16px;
  font-weight: bold;
}

.third-page {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
=
}
.header-three {
  font-size: 42px;
}

.your-company {
  color: #f1a021;
}
.three-one{  
  border-bottom: 1px solid;}

  .d1{flex-direction: column;}